#ScrollB .scroll-bar:horizontal {
    -fx-background-color: #1a1a2e;
    -fx-background-radius: 20;
}

#ScrollB .scroll-bar:horizontal .thumb {
    -fx-background-color: #ff0841;
    -fx-background-radius: 5px;
}

#ScrollB .scroll-bar:horizontal .increment-button,
#ScrollB .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

#ScrollB .scroll-bar:horizontal .increment-arrow,
#ScrollB .scroll-bar:horizontal .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}
#ScrollB .scroll-bar:horizontal {
    -fx-pref-height: 12px; /* grosor de la barra */
}

#ScrollB .scroll-bar:horizontal .thumb {
    -fx-background-color: #ff0841;
    -fx-background-radius: 5px;
}

#ScrollB .viewport {
    -fx-background-color: transparent;
}