.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.split-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.split-pane:focused {
    -fx-background-color: transparent;
}

.split-pane > .content {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}